<!-- Launches table -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Launch Name</th>
            <th>Rocket</th>
            <th>Launch Pad</th>
            <th>Date</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="launches.length == 0" class="align-middle">
            <td class="text-center" style="height: 26rem;" colspan="5">No Data Available</td>
        </tr>
        <tr *ngFor="let launch of launches" (click)="GoToLaunchDetails(launch.id)" title="See {{launch.name}} details">
            <td>{{launch.name}}</td>
            <td>{{launch.rocket.name}}</td>
            <td>{{launch.launchpad.name}}</td>
            <td>{{launch.date_local | date: 'dd MMMM yyyy'}}</td>
            <td>{{launch.success}}</td>
        </tr>
    </tbody>
</table>

<!-- Table data navigation -->
<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{'disabled': !response?.hasPrevPage}">
            <button class="page-link" [disabled]="!response?.hasPrevPage" (click)="FetchLaunches(response?.prevPage)">
                <i class="bi bi-caret-left-fill"></i>
            </button>
        </li>
        <li class="page-item">
            <button class="page-link" *ngIf="response?.page != null">{{response?.page}}</button>
        </li>
        <li class="page-item" [ngClass]="{'disabled': !response?.hasNextPage}">
            <button class="page-link" [disabled]="!response?.hasNextPage" (click)="FetchLaunches(response?.nextPage)">
                <i class="bi bi-caret-right-fill"></i>
            </button>
        </li>
    </ul>
</nav>