<div class="row">
    <app-save-button></app-save-button>
    <img src="{{launch?.links?.patch?.small}}" style="width: 200px;">
    <h1>{{launch?.name}}</h1>
    <p>Result: <span *ngIf="!launch?.success">Fail</span><span *ngIf="launch?.success">Success</span></p>
    <p>{{launch?.details}}</p>
    <p>Crew:</p>
    <ul>
        <li *ngFor="let memeber of launch?.crew">{{memeber.name}}</li>
    </ul>
    <a class="btn btn-primary" (click)="GoToLaunchArticlePage()"><i class="bi bi-book"></i> Read More</a>
    <div class="rounded">
        insert video here
    </div>
</div>