<div class="bg-body-tertiary card">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <h1 class="fs-1">{{launch?.name}}</h1>
            </div>
        </div>
        <h2 class="text-body-secondary fs-5">{{launch?.date_local | date: 'dd MMMM yyyy'}}</h2>
    </div>
    <div class="card-body">
        <div class="">
            <p>Result: <span *ngIf="!launch?.success">Fail</span><span *ngIf="launch?.success">Success</span></p>
            <p *ngIf="launch?.details != null">
                {{launch?.details}}
            </p>
        </div>
        <hr>
        <div class="text-center"><img src="{{launch?.links?.patch?.small}}" alt="" srcset="{{launch?.links?.patch?.small}}, {{launch?.links?.patch?.large}}"></div>
    </div>
</div>