<div class="card my-3">
    <div class="card-header fs-5">
        <div class="row">
            <div class="col-8">{{savedLaunch?.name}}</div>
            <div class="col-4">
                <app-remove-button class="float-right" [savedLaunch]="savedLaunch" (triggerRefresh)="TriggerRefresh()"></app-remove-button>
            </div>
        </div>
    </div>
    <img src="{{savedLaunch?.patchUrl}}" class="card-img-top" alt="...">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
    </div>
</div>