// Update bootstrap colors
$primary: #cab96c;
$secondary: #2b21db;
$light: #ebe9fc;
$dark: #050316;

@import './../node_modules/bootstrap/scss/bootstrap';
@import './../node_modules/bootstrap-icons/font/bootstrap-icons.min.css'